src/wsdl/localhost_30906/flightApp/PassengerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="PassengerService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:30906/flightApp/PassengerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPassengerByUserId">
<part name="parameters" element="tns:getPassengerByUserId"/>
</message>
<message name="getPassengerByUserIdResponse">
<part name="parameters" element="tns:getPassengerByUserIdResponse"/>
</message>
<message name="createPassenger">
<part name="parameters" element="tns:createPassenger"/>
</message>
<message name="createPassengerResponse">
<part name="parameters" element="tns:createPassengerResponse"/>
</message>
<message name="updatePassenger">
<part name="parameters" element="tns:updatePassenger"/>
</message>
<message name="updatePassengerResponse">
<part name="parameters" element="tns:updatePassengerResponse"/>
</message>
<message name="getPassengerById">
<part name="parameters" element="tns:getPassengerById"/>
</message>
<message name="getPassengerByIdResponse">
<part name="parameters" element="tns:getPassengerByIdResponse"/>
</message>
<portType name="PassengerService">
<operation name="getPassengerByUserId">
<input wsam:Action="http://service.com/PassengerService/getPassengerByUserIdRequest" message="tns:getPassengerByUserId"/>
<output wsam:Action="http://service.com/PassengerService/getPassengerByUserIdResponse" message="tns:getPassengerByUserIdResponse"/>
</operation>
<operation name="createPassenger">
<input wsam:Action="http://service.com/PassengerService/createPassengerRequest" message="tns:createPassenger"/>
<output wsam:Action="http://service.com/PassengerService/createPassengerResponse" message="tns:createPassengerResponse"/>
</operation>
<operation name="updatePassenger">
<input wsam:Action="http://service.com/PassengerService/updatePassengerRequest" message="tns:updatePassenger"/>
<output wsam:Action="http://service.com/PassengerService/updatePassengerResponse" message="tns:updatePassengerResponse"/>
</operation>
<operation name="getPassengerById">
<input wsam:Action="http://service.com/PassengerService/getPassengerByIdRequest" message="tns:getPassengerById"/>
<output wsam:Action="http://service.com/PassengerService/getPassengerByIdResponse" message="tns:getPassengerByIdResponse"/>
</operation>
</portType>
<binding name="PassengerServicePortBinding" type="tns:PassengerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPassengerByUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPassenger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePassenger">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPassengerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PassengerService">
<port name="PassengerServicePort" binding="tns:PassengerServicePortBinding">
<soap:address location="http://localhost:30906/flightApp/PassengerService"/>
</port>
</service>
</definitions>