src/wsdl/localhost_30906/flightApp/userService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.com/" name="userService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.com/" schemaLocation="http://localhost:30906/flightApp/userService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getMyBooking">
<part name="parameters" element="tns:getMyBooking"/>
</message>
<message name="getMyBookingResponse">
<part name="parameters" element="tns:getMyBookingResponse"/>
</message>
<message name="checkToken">
<part name="parameters" element="tns:checkToken"/>
</message>
<message name="checkTokenResponse">
<part name="parameters" element="tns:checkTokenResponse"/>
</message>
<portType name="UserService">
<operation name="register">
<input wsam:Action="http://service.com/UserService/registerRequest" message="tns:register"/>
<output wsam:Action="http://service.com/UserService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://service.com/UserService/loginRequest" message="tns:login"/>
<output wsam:Action="http://service.com/UserService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getMyBooking">
<input wsam:Action="http://service.com/UserService/getMyBookingRequest" message="tns:getMyBooking"/>
<output wsam:Action="http://service.com/UserService/getMyBookingResponse" message="tns:getMyBookingResponse"/>
</operation>
<operation name="checkToken">
<input wsam:Action="http://service.com/UserService/checkTokenRequest" message="tns:checkToken"/>
<output wsam:Action="http://service.com/UserService/checkTokenResponse" message="tns:checkTokenResponse"/>
</operation>
</portType>
<binding name="UserServicePortBinding" type="tns:UserService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMyBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="userService">
<port name="UserServicePort" binding="tns:UserServicePortBinding">
<soap:address location="http://localhost:30906/flightApp/userService"/>
</port>
</service>
</definitions>